*{
    padding: 0;
    margin: 0;
    border: none;
    background-color: aliceblue;
}

.navbut{
    background-color: white;
    padding: 0 15px;
    border: 1px solid black;
    margin: 0 5px;
    border-radius: 5px;
    line-height: 25px;
}

#logo{
    display: inline-flex;
    justify-content: center;
    color :black;
    font-weight: 100;
    line-height: 20px;
    background-color: hsla(120,100%,50%,0);


}
#navbar{
    display: inline-flex;
    justify-content:space-around;
    background-color: hsla(120,100%,50%,0);
}
#header{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    background-color: hsla(120,100%,50%,0);
    
}
body{
    margin: 20px 20px;
    width: 100%;
}

.navbut:hover{
    background-color: black;
    border: 1px solid white;
    color: white;
}

#hero{
    display: flex;
    align-items: center;
    justify-content:center ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 600px;
    display: flex;
    width: 1300px;


}
#trichy-para{
    font-size: larger;
    margin: 10px;
    display: inline;

    text-align: center;
}
#trichy-title{
    margin: 10px;
    display: inline;
}

#trichy-info{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-sizing: border-box;
    padding: 20px;
    margin: 20px;

}

#trichy-img{
    padding: 10px;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    margin: 20px;
}


.about-left{
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    background-color: white;

}
.about-right{
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    background-color: white;

}



.comment{
    margin: 5px;
    display: inline;
    background-color: inherit;

}

.title{
    margin: 10px;
    display: inline;
    background-color: inherit;

}

.para{
    font-size: larger;
    margin: 10px;
    display: inline;
    background-color: inherit;
    text-align: center;

}

.pic{
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    height: 350px;
    transition: padding 500ms ease;
    box-sizing: border-box;
    margin: 20px;
    background-color: inherit;


}

.page-left{
    display: flex;
    align-items: center;
    justify-content:center ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    height: 500px;
    display: flex;
    width: 1300px;
    border-radius: 250px 0 250px 250px;
    border: 1px solid #3066be;
    background-color: white;

}
.page-right{
    display: flex;
    align-items: center;
    justify-content:center ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    height: 500px;
    display: flex;
    width: 1300px;
    border-radius: 0 250px 250px 250px;
    border: 1px solid black;
    background-color: white;

}

.pic:hover{
    padding: 0;
}

.kadaiveedhi{
    border: 5px solid grey;
}
.kallanai{
    border: 5px solid #9dc0df;   
}
.mukkombu{
    border: 5px solid #E36212;
}
.puliyancholai{
    border: 5px solid green; 
}
.museum{
    border: 5px solid #B3A3A4; 
}

.ranga{
    border: 5px solid #D9957A; 
}

.rockfort{
    border: 5px solid #D9957A; 
}

.church{
    border: 5px solid #0A733A; 
}
.ayyapan{
    border: 5px solid #E494A0; 
}

.butterfly{
    border: 5px solid #9dc0df; 
}

#bio{
    padding: 20px 0;
    display: block;
    background-color: rgb(193, 221, 231);
    width: 1000px;
    border-top: 2px ;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
#footer{
    padding: 20px 0;
    width: 100vh;
    text-align: center;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

a{
    display: block;
    font-size: large;
}
#final{
    display: block;
    margin: 5px;
}

#mail{
    text-decoration: underline;
    font-size: large;
}